{{ define "main" }}

  <section class="section-sm">
    <div class="container">
      <h2> Flickr Album: free </h2>
      <a data-flickr-embed="true" data-header="true" data-footer="true" href="https://www.flickr.com/photos/199151483@N06/albums/72177720311147221/show" title="WebsiteAlbum"><img src="https://live.staticflickr.com/65535/53183691983_48365899e9_z.jpg" width="1024" height="768" alt="WebsiteAlbum"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
      <br>
      <h2> Smugmug Album: paid </h2>
      <iframe src="https://photos.donbennett.org/frame/slideshow?key=cnSxh3&speed=3&transition=fade&autoStart=1&captions=1&navigation=1&playButton=1&randomize=1&transitionSpeed=2" width="1200" height="900" frameborder="yes" scrolling="no"></iframe>
    </div>
  </section>

{{ end }}
