{{ define "main" }}

  <section class="section-sm">
    <div class="container">
      <!-- <a data-flickr-embed="true" data-header="true" data-footer="true" href="https://www.flickr.com/photos/199151483@N06/albums/72177720311147221/show" title="WebsiteAlbum"><img src="https://live.staticflickr.com/65535/53183691983_48365899e9_z.jpg" width="1024" height="768" alt="WebsiteAlbum"/></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script> -->
      <!-- <iframe align=center src="http://www.flickr.com/slideShow/index.gne?user_id=199151483@N06&tags=foo" frameBorder="0" width="500" scrolling="no" height="500"></iframe> -->
      <!-- <iframe src="https://photos.donbennett.org/frame/slideshow?key=7DL2fZ&speed=3&transition=fade&autoStart=1&captions=1&navigation=1&playButton=1&randomize=1&transitionSpeed=2" width="1200" height="900" frameborder="no" scrolling="no"></iframe> -->
      <iframe src="https://photos.donbennett.org/frame/slideshow?key=cnSxh3&speed=3&transition=fade&autoStart=1&captions=1&navigation=1&playButton=1&randomize=1&transitionSpeed=2" width="1200" height="900" frameborder="yes" scrolling="no"></iframe>
    </div>
  </section>

{{ end }}
